* {
    margin: 0px;
    padding: 0px;
}



ul {
    list-style-type: none;
}

/* HEADER */

#logo {
    width: 250px;
}

#header-list {
    display: flex;
}

header {
    display: flex;
}

/* /HEADER */