* {
    margin: 0px;
    padding: 0px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    scroll-behavior: smooth;
}



ul {
    list-style-type: none;
    align-self: center;
    margin-top: 15px;
}

li {
    padding-top: 5px;
}

/* HEADER */

#logo {
    width: 250px;
}

#header-list {
    display: flex;
}

header {
    display: flex;
    justify-content: space-around;
    background-color: #000000;
    align-items: center;
    font-size: 18px;
}

.header-list-item {
    margin-right: 7.5px;
}

a{
    transition: all 400ms;
}

a:hover {
    color: #ff6600;
    background-color: gray;
    padding: 4px;
    border-radius: 10px;
    border-bottom: 2px solid white;
}

/* /HEADER */

#final {
    display: flex;
    justify-content: space-around;
}


footer {
    background-color: #000000;
    padding-bottom: 15px;
}

.imagen {
    width: 150px;
}

.derechos {
    text-align: center;
    color: white;
}

/* /FOOTER */

.productos {
    width: 80%;
}

h2 {
    text-align: center;
    padding-top: 20px;
    margin-bottom: 20px;
}

.seccion {
    display: flex;
    justify-content: space-around;
}

.precios {
    text-align: end;
    font-size: 18px;
}

.articulos {
    width: 250px;
    border: 2px solid grey;
    text-align: center;
    border-radius: 15px;
    background-color: white;
    padding: 15px;
    cursor: pointer;
    transition: all 400ms;
}

article:hover {
    box-shadow: 0 5px 10px black;
}

a {
    color: white;
    text-decoration: none;
}

form {
    display: flex;
}

input {
    font-size: 16px;
    padding: 7px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
}

input:focus-visible {
    outline: none;
}

button {
    border: none;
    padding: 5px;
    background-color: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 16px;
}

main {
    background-color:rgb(179, 177, 177);
    padding-bottom: 30px;
}
