<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css">
    <title>Alibaba</title>
</head>


<body>
    <header>
        <img id="logo" src="../public/images/Alibaba-Logo.png" alt="Alibaba">
        <ul id="header-list">
            <li class="header-list-item">Inicio</li>
            <li class="header-list-item">Ofertas</li>
            <li class="header-list-item">Nueva Coleccion</li>
            <li class="header-list-item">Mas Vendidos</li>
        </ul>
        <form action="">
            <input type="text">
            <button>O</button>
        </form>
    </header>
    <main>
        <h2>Ofertas</h2>
        <section class="seccion">
            <article class="articulos">
                <img class="productos" src="../public/images/H7bb4199b2ebb48b692a3e5d46211d9e2h.jpg_720x720q50.avif" alt="">
                <h3>Moto Electrica</h3>
                <p class="precios">1.570$</p>
            </article>
            <article class="articulos">
                <img class="productos" src="../public/images/H025df91bdb594a239dad539bcc936eb0V.png_720x720q50.avif" alt="">
                <h3>Plomo Ácido</h3>
                <p class="precios">5.16$</p>
            </article>
            <article class="articulos">
                <img class="productos" src="../public/images/Hff84d689f7424f79b4dbd058d32fe140A.jpg_720x720q50.avif" alt="">
                <h3>Máquina de juegos</h3>
                <p class="precios">2.000$</p>
            </article>
        </section>
    </main>
    <footer>
        <div id="final">
            <img class="imagen" src="../public/images/png-transparent-alibaba-round-logo-tech-companies-thumbnail.png"
                alt="">
            <ul>
                <li><a href="https://www.facebook.com/Alibaba.comGlobal/?locale=es_LA">Facebook</a></li>
                <li><a href="https://www.instagram.com/alibaba.com_official/?hl=es">Instagram</a></li>
                <li><a href="https://discord.com/invite/xEuwmj6qaA">Disocrd</a></li>
            </ul>
        </div>
        <p class="derechos">© Alibaba.com 1999-2024. Todos los derechos reservados.</p>
    </footer>
</body>

</html>